[submodule "app/src/main/java/com/sarang/torang/di/repository"]
	path = app/src/main/java/com/sarang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sarang/torang/di/addreview_di"]
	path = app/src/main/java/com/sarang/torang/di/addreview_di
	url = https://github.com/sarang628/addreview_di.git
[submodule "app/src/main/java/com/sarang/torang/di/alarm_di"]
	path = app/src/main/java/com/sarang/torang/di/alarm_di
	url = https://github.com/sarang628/alarm_di.git
[submodule "app/src/main/java/com/sarang/torang/di/profile_di"]
	path = app/src/main/java/com/sarang/torang/di/profile_di
	url = https://github.com/sarang628/profile_di.git
[submodule "app/src/main/java/com/sarang/torang/di/splash_di"]
	path = app/src/main/java/com/sarang/torang/di/splash_di
	url = https://github.com/sarang628/splash_di.git
[submodule "app/src/main/java/com/sarang/torang/di/feed_di"]
	path = app/src/main/java/com/sarang/torang/di/feed_di
	url = https://github.com/sarang628/feed_di.git
[submodule "app/src/main/java/com/sarang/torang/di/main_di"]
	path = app/src/main/java/com/sarang/torang/di/main_di
	url = https://github.com/sarang628/main_di.git
[submodule "app/src/main/java/com/sarang/torang/di/torangcomposepack"]
	path = app/src/main/java/com/sarang/torang/di/torangcomposepack
	url = https://github.com/sarang628/torangcomposepack.git
[submodule "app/src/main/java/com/sarang/torang/di/finding_di"]
	path = app/src/main/java/com/sarang/torang/di/finding_di
	url = https://github.com/sarang628/finding_di.git
[submodule "app/src/main/java/com/sarang/torang/di/comment_di"]
	path = app/src/main/java/com/sarang/torang/di/comment_di
	url = https://github.com/sarang628/comment_di.git
[submodule "app/src/main/java/com/sarang/torang/di/report_di"]
	path = app/src/main/java/com/sarang/torang/di/report_di
	url = https://github.com/sarang628/report_di.git
[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
[submodule "app/src/main/java/com/sarang/torang/di/chat_di"]
	path = app/src/main/java/com/sarang/torang/di/chat_di
	url = https://github.com/sarang628/chat_di.git
